.profile {
  display: flex;
  align-items: center;
  position: relative;
}

@media all and (max-width: 768px){
  .profile {
    flex-direction: column;
    margin-bottom: 36px;
    row-gap: 26px;
  }
}
