.places__item-button {
  margin-bottom: 15px;
  border: 0;
  align-self: center;
  justify-self: center;
  padding: 0;
  height: 19px;
  width: 22px;
  grid-area: button;
  cursor: pointer;
  background: url(../../../images/like_disable.svg) center no-repeat;
  background-size: 100%;
  transition: opacity .1s linear;
}

.places__item-button:hover {
  opacity: 0.5;
}
