.profile__info{
  color: white;
  display: grid;
  grid-template-areas: 'username button'
                        'job-description job-description';
  gap: 16px 18px;
}

@media all and (max-width: 768px){
  .profile__info{
      gap: 10px 14px;
  }
}
